@font-face {
	font-family: 'Bubbleboddy';
	src: url('../fonts/bubbleboddyneue-regular.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu.ttf');
}
* {
	outline: none;
}
header *, main *, footer *,.modal_bg *{
	-webkit-transition: ease-out 0.3s;
	-moz-transition: ease-out 0.3s;
	-o-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
	font-family: Bubbleboddy;
	font-style: normal;
	font-weight: normal;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000000;
}
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
}
h1 {
	font-size: 28px;
	line-height: 22px;
	color: #871C90;
	margin: 30px 0 30px;
}
body.hidden {
	overflow: hidden;
}
.dashed {
	border: 1px dashed #C4C4C4;
	border-radius: 20px;
}
p {
	margin: 10px 0;
	font-family: Ubuntu;
	font-size: 16px;
	line-height: 22px;
}

/* MEDIA */

@media screen and (max-width: 1360px) {
	.footer_menu {
		right: 0;
	}
	#map>img {
		width: 100%;
	}
	.subscribe_box .subscribe_form {
		right: 6.1%;
	}
}
@media screen and (max-width: 1169px) {
	body {
		overflow-x: hidden;
	}
	.detail_news_content_box {
		flex-direction: column;
	}
	.detail_news_content_box>div {
		flex-direction: column;
		margin: 0 auto;
	}
	.detail_news_image {
		margin-right: 0;
	}
	.detail_news_image {
		width: 100%;
		text-align: center;
	}
	.prev_text {
		width: calc(100% - 32px);
	}
	.detail_news_content_box .main_text {
		width: calc(100% - 32px);
		margin-top: 0;
	}
	.catalog_wrapper {
		flex-wrap: wrap;
	}
	.left_catalog_bar {
		width: 100%;
	}
	.catalog_section {
		width: 100%;
	}
	.filter_wrap {
		display: none;
		transition: 0s;
	}
	.filter_mobile {
		display: block;
		color: white;
		background: #00CCBA;
		line-height: 19px;
		height: 45px;
		border-radius: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0s;
	}
	.filter_mobile.open {
		border-radius: 20px 20px 0 0;
	}
	.filter_wrap.open {
		border-radius: 0 0 20px 20px;
	}
	.filter_mobile>span {
		display: inline-block;
		margin-left: 10px;
	}
}
@media screen and (max-width: 998px) {
	#main_content {
		position: relative;
		overflow: hidden;
	}
	.ham {
		display: block;
	}
	.main_menu_box {
		overflow: hidden;
	}
	.container {
		width: calc(100% - 40px);
		padding: 0 20px;
	}
	.main_catalog>.left_section {
		width: 100%;
	}
	.right_section {
		display: none;
	}
	.hedaer_top_line {
		flex-wrap: wrap;
		justify-content: center;
	}
	.hedaer_top_line>div {
		margin-bottom: 20px;
	}
	.menu_wrapper {
		width: 50%;
		position: absolute;
		z-index: 5001;
		flex-direction: column;
		background: #D471DC;
		top: 0;
		right: -100%;
		height: 100vh;
		justify-content: unset;
		align-items: unset;
		padding-top: 0;
		overflow: scroll;
	}
	.menu_wrapper .menu_element {
		flex-grow: 0;
		width: calc(100% - 40px);
		margin: 0 auto;
		padding: 20px 0px;
	}
	.dropdown_menu {
		position: relative;
		top: 0;
		padding: 0;
		left: auto;
		margin: 30px auto 0;
		transition: 0s;
	}
	.menu_wrapper .menu_element>.dropdown_menu>.container {
		flex-wrap: wrap;
	}
	.dropdown_menu .age, .dropdown_menu .category {
		width: 100%;
	}
	.menu_wrapper>.menu_element.parent>a:before {
		right: 30px;
	}
	.menu_wrapper.open {
		right: 0;
	}
	.dropdown_menu .category ul>li {
		width: 46%;
		margin: 10px 2%;
	}
	.dropdown_menu .category ul>li:nth-child(even) {
		margin-right: 0;
		margin-left: 4%;
	}
	.about_section {
		flex-direction: column;
	}
	.about_section .pic {
		margin: 0;
		text-align: center;
	}
	.contact_info_box .phone {
		position: relative;
		left: auto;
		top: 40px;
	}
	#map .adress {
		position: absolute;
		width: 400px;
		height: 108px;
		top: -55px;
		left: calc(50% - 200px);
	}
	.contact_info_box .work_time {
		position: relative;
		right: auto;
		bottom: auto;
		top: 40px;
	}
	.contact_info_box {
		display: flex;
		justify-content: space-between;
	}
	.catalog .card {
		width: calc(47% - -2px);
	}
	.catalog .card:before {
		right: calc(50% - 120px);
	}
	.card_header_section .card_slider_section {
		margin-right: 0;
		flex-direction: column-reverse;
		width: 100%;
	}
	.card_header_section {
		flex-direction: column;
	}
	.card_header_section .vertical_slider_section {
		width: 500px;
		height: auto;
		margin: 0 auto;
	}
	.subscribe_box {
		background: url(../img/subscribe_back.png);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 290px;
		padding: 0;
	}
	.subscribe_box .subscribe_form {
		position: relative;
		top: 30px;
		right: auto;
		width: 90%;
	}
	.subscribe_box>img {
		display: none;
	}
	.subscribe_box>.mobile {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
	.subscribe_box>.mobile>img {
		width: 90%;
	}
	.vertical_slider_arrow_prev {
		top: calc(50% - 18px);
		transform: rotate(-90deg);
		left: -13px;
	}
	.vertical_slider_arrow_next {
		right: -13px;
		bottom: calc(50% - 13px);
		transform: rotate(90deg);
		left: auto;
	}
	.card_header_section .main_slider_section {
		margin: 0 auto 20px;
		height: auto;
	}
	.card_header_section .card_details_section {
		width: 100%;
	}
	.main_categ_arrow_next {
		right: 15px;
	}
	.main_categ_arrow_prev {
		left: 15px;
	}
	.news_section {
		justify-content: center;
	}
	.news_element {
		width: calc(48% - 60px);
	}
	.main_about_section {
		flex-wrap: wrap;
		justify-content: center;
	}
	.main_about_section .pic {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.main_baner .material{
		left: 5%;
	}
	.main_baner .style{
		right: 5%;
	}
	.footer_menu {
		justify-content: flex-start;
	}
	.footer_box {
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer_contact {
		margin-bottom: 15px;
	}
	.footer_menu>.footer_menu_element {
		width: calc(33% - 25px);
		margin: 5px 25px 0 0;
		text-align: center;
	}
	.footer_menu>.footer_menu_element:nth-child(4n+4) {
		margin: 5px 25px 0 0;
	}
}
@media screen and (max-width: 900px) {
	.main_baner .material{
		left: 1%;
	}
	.main_baner .style{
		right: 1%;
	}
}
@media screen and (max-width: 800px) {
	.main_baner {
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.news_element {
		width: calc(100% - 60px);
		margin: 1.5% 0;
	}
	.menu_wrapper {
		width: 70%;
	}
}
@media screen and (max-width: 600px) {
	.header_logo {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.header_search {
		width: 100%;
	}
	.header_search>form>input {
		width: calc(100% - 50px);
	}
	.header_phone {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.catalog .card {
		width: 100%;
	}
	.card_header_section .card_slider_section img {
		width: 100%;
	}
	.breadcrumbs_box {
		flex-wrap: wrap;
	}
	.breadcrumbs_box .bredcumb {
		background: none;
		padding: 0;
	}
	.breadcrumbs_box .bredcumb::after {
		content: "\f061";
		display: inline-block;
		margin-left: 5px;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		font-size: 12px;
		position: relative;
		top: 1px;
	}
	.breadcrumbs_box .bredcumb:last-child::after {
		content: "";
	}
	.breadcrumbs_box .first_main>img {
		width: 20px;
		height: 20px;
	}
	.breadcrumbs_box .first_main {
		width: 30px;
		height: 30px;
	}
}
@media screen and (max-width: 500px) {
	.main_about_section .pic {
		width: 95%;
	}
	.main_about_section .pic>img {
		width: 100%;
	}
	.footer_menu>.footer_menu_element {
		width: calc(50% - 25px);
	}
	.footer_menu>.footer_menu_element:nth-child(2n+2) {
		margin: 5px 0 0 0;
	}
	.detail_news_image>img, .about_section .pic>img {
		width: calc(100% - 20px);
	}
	.contact_info_box {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	#map .adress {
		position: relative;
		background-position: center;
		width: 400px;
		height: 108px;
		top: 0px;
	}
	.contact_info_box .phone .title:before {
		right: calc(50% - 50px);
	}
	.contact_info_box .phone {
		margin-bottom: 50px;
	}
	#map {
		margin-top: 100px;
	}
	.card_header_section .vertical_slider_section {
		width: 100%;
	}
	.sort_box {
		flex-direction: column;
	}
}
@media screen and (max-width: 460px) {
	.review_form_box {
		max-width: 370px;
	}
}